/* add home page styles here */

#head {
    height: 200px;
    width: 200px;
    background-image: url('../assets/bird-head.png');
}

#middle {
    height: 150px;
    width: 150px;
    background-image: url('../assets/pink-middle.png');
}

#bottom {
    height: 200px;
    width: 200px;
    background-image: url('../assets/white-pants.png');
}

ul {
    margin-left: 40%;
    margin-bottom: 20%;
}